<div style="height: 250px; border: 1px solid #E3E5E6">
  <div style="background-color: #2C8769;">
    <strong>
      <center>
        <h2 style="color: white; margin: auto">EA Kazi</h2>
        </center>
        </strong>
        </div>
        <div style="margin-left: 10px">
          <h3>Account Verification</h3>
          <label style="font-family: Helvetica,Arial,sans-serif; font-size: 16px">
            If you requested a password reset for <%= email %>, use this OTP to reset password on the app. If you
              didn't make this request, please ignore this email.
          </label>
          <br></br>
          <br></br>
          <center>
            <strong>
              OTP: <%= email_data %>
            </strong>
          </center>
  </div>
  </div>
  <div style="height: 50px; border: 1px solid #E3E5E6">
    <center style="color: green;">Thank you. :)</center>
    <p style="font-size:10px;color:#708c91;text-align:center;padding:0;margin-top:10px;margin-bottom:2px">
      This email was sent to you by EA Kazi (Do not reply)
    </p>
</div>